project:
  type: website
  output-dir: docs

website:
  title: ""
  navbar:
    left:
      - href: index.qmd
        text: "Página Inicial"
    right:
      - icon: github
        href: https://github.com/NielsonAJR/Amostragem

format:
  html:
    theme: 
      light: flatly
      dark: darkly
    css: styles.css
    toc: true
    code-fold: true
    code-summary: "Mostrar código"
    number-sections: true



